FIREBASE_API_KEY_ACCOUNTS=
FIREBASE_AUTH_DOMAIN_ACCOUNTS=
FIREBASE_PROJECT_ID_ACCOUNTS=
FIREBASE_STORAGE_BUCKET_ACCOUNTS=
FIREBASE_MESSAGING_SENDER_ID_ACCOUNTS=
FIREBASE_APP_ID_ACCOUNTS=

FIREBASE_API_KEY_DOCUMENTS=
FIREBASE_AUTH_DOMAIN_DOCUMENTS=
FIREBASE_PROJECT_ID_DOCUMENTS=
FIREBASE_STORAGE_BUCKET_DOCUMENTS=
FIREBASE_MESSAGING_SENDER_ID_DOCUMENTS=
FIREBASE_APP_ID_DOCUMENTS=

SUPABASE_URL_DOCUMENTS=
SUPABASE_KEY_DOCUMENTS=
